{% extends 'navbar.html' %} 
{%block body %}
<div class="gabung">
  <div class="tulisan">
    <h2>Hi There, I'm Ilham!</h2>
    <h1 class="ilham"></h1>
    <h3 class="status">Web Development Enthusiast | Computer Science Student</h3>
    <p>
      Dedicated Computer Science student passionate about web development, skilled in HTML, CSS, JavaScript, and frameworks like React. Known for creating responsive, user-friendly websites and
      continuously exploring new tech trends to enhance project outcomes.
    </p>
  </div>
  <div class="foto">
    {% load static %}
    <img src="{% static 'foto.jpg' %}" alt="foto" width="300px" class="ganteng" />
  </div>
</div>
{% endblock %}
