{% extends 'navbar.html' %} {% block body %}
<div class="bg">
  <div class="ed">
    <h1 class="tulisanjudul">Education</h1>
    <div class="sekolah">
      <h3>SMK Yadika Soreang - <span class="jurusan">Software Engineering</span></h3>
      <p class="tahun">Year: 2019 - 2022</p>
    </div>
    <ul class="daftar">
      <li>Participated in the KKSI English Language Competition for <i>Story Telling</i> at the national level</li>
      <li>Achieved first place in class during grade 11 and 12 in the first semester</li>
      <li>Obtained a final score of 87.5</li>
    </ul>
    <div class="sekolah">
        <h3>Indonesia University of Education - <span class="jurusan">Computer Science Education</span></h3>
        <p class="tahun">Year: 2023 - Present</p>
    </div>
    <ul class="daftar">
      <li>Created a final project for the Algorithm and Programming course called Car Rental</li>
      <li>Received an A grade in Internet Programming, Database, and Animation subjects</li>
      <li>Achieved a GPA of 4.0 for three semesters</li>
    </ul>
  </div>
</div>
{% endblock %}