{% extends 'navbar.html' %} {% block body %}
<div class="bg">
  <div class="ed">
    <h1 class="tulisanjudul">Experience</h1>
    <hr />
    <div class="sekolah">
      <h3>DPUTR Kabupaten Bandung - <span class="jurusan">Drainage Division</span></h3>
      <p class="tahun">Year: January 2021 - April 2021</p>
    </div>
    <ul class="daftar">
      <li>Created a program for automatic incoming letter generation</li>
      <li>Managed data using Microsoft Excel</li>
      <li>Network maintenance</li>
    </ul>
    <div class="sekolah">
      <h3>DPM Kemakom FPMIPA UPI - <span class="jurusan">Supervisory Commission</span></h3>
      <p class="tahun">Year: 2023 - Present</p>
    </div>
    <ul class="daftar">
      <li>Supervised work programs organized by BEM Kemakom FPMIPA UPI</li>
      <li>Supervised the finances of Kemakom FPMIPA UPI</li>
      <li>Accommodated the aspirations of students in Kemakom FPMIPA UPI</li>
    </ul>
  </div>
  <div class="sekolah">
    <h3>BEM REMA UPI - <span class="jurusan">Staff of Academic Directorate </span></h3>
    <p class="tahun">Year: 2023 - Present</p>
  </div>
  <ul class="daftar">
    <li>One of the organizers of work programs organized by the Academic Directorate</li>
  </ul>
</div>
{% endblock %}
